/* 메뉴 버튼 */
.NavButton {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

.NavIcon {
    font-size: 28px;
    color: white;
}

.SideBar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background: rgba(31, 31, 31, 0.95);
    color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.SideBar.open {
    right: 0;
}

.SideBar-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100%; 
}

.NavButton:hover {
    background-color: transparent;
}

/* 네비게이션 스타일 */
.Nav-Links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.Nav-Item {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.Nav-Item:hover {
    color: var(--l-grey);
}

.Nav-Item.active {
    color: var(--primary);
}
